/* Modal title styling using H3 theme values */
/* .title {
  font-weight: var(--mantine-h3-font-weight);
  font-family: 'Sora', 'Roboto', sans-serif;
  font-size: var(--mantine-h3-font-size);
  line-height: var(--mantine-h3-line-height);
} */

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  [data-mantine-color-scheme='light'] & {
    background: var(--mantine-color-gray-1);
  }
  [data-mantine-color-scheme='dark'] & {
    background: var(--mantine-color-dark-6);
  }
}

.footer .left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.footer .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.content {
  padding-bottom: 84px; /* Adjust to match footer height */
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.contentNoFooter {
  padding-bottom: 24px;
}
