.container {
  min-height: 100vh;
  background-color: #31353d;
  display: flex;
  flex-direction: column;
  max-width: 390px;
  margin: 0 auto;
  position: relative;
  /* border: 1px solid magenta; */
}

.header {
  background-color: #31353d;
  padding-top: 1rem;
}

.content {
  flex: 1;
  padding-bottom: 2rem;
}

.lightSection {
  background-color: #f4f6f7;
  border-radius: 16px 16px 0 0;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.calendarBox {
  background-color: #095dbe;
  border-radius: 8px;
  padding: 4px;
  min-width: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomNav {
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 0 0.5rem 0;
  position: sticky;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
}

.navItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0.5rem 0;
}

.navItem:hover {
  opacity: 0.8;
}

.activeIndicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 6px;
  background-color: #1e1f1f;
  border-radius: 100px;
}
